.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo {
    margin: 0 5px;
    font-size: 24px;
}
.header nav>ul{
    margin-left: 30px;
    display: flex;
}

.header nav>ul li {
    padding: 10px;
}

